In [1]:
import pandas as pd
import numpy as np

In [2]:
data_df = pd.read_csv('./housingprice_train.csv')
data_df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [3]:
# since we already have Id as index, we don't need nother index that was generated by pandas
data_df = pd.read_csv('./housingprice_train.csv', index_col='Id')
data_df

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [4]:
data_df.columns

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street', 'Alley',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'PoolQC', 'Fence', 'MiscFeature', 'MiscVal',
       'MoSold', 'YrSold', 'SaleType', 'SaleCondition', 'SalePrice'],
      dtype='object')

In [5]:
chosen_features = [ # Những feature tiêu biểu ảnh hưởng mạnh đến dự doán giá nhà
    'LotArea', # diện tích mảnh đất, càng lớn càng đắt 
    'YearBuilt', # năm xây nhà, nhà mới xây thì thường có giá cao hơn
    '1stFlrSF', # diện tích lầu 1 là bao nhiêu
    '2ndFlrSF',
    'FullBath', # số phòng tắm
    'BedroomAbvGr', # phòng ngủ đạt trên tiêu chuẩn
    'TotRmsAbvGrd', # tổng số phòng trên tiêu chuẩn
]

In [6]:
X = data_df[chosen_features]
X.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
Id,,,,,,,
1,8450,2003,856,854,2,3,8
2,9600,1976,1262,0,2,3,6
3,11250,2001,920,866,2,3,6
4,9550,1915,961,756,1,3,7
5,14260,2000,1145,1053,2,4,9

In [9]:
y = data_df['SalePrice']
y.head()

Id
1    208500
2    181500
3    223500
4    140000
5    250000
Name: SalePrice, dtype: int64

In [10]:
type(y)

pandas.core.series.Series

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=0)

In [12]:
X_train

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
Id,,,,,,,
619,11694,2007,1828,0,2,3,9
871,6600,1962,894,0,1,2,5
93,13360,1921,964,0,1,2,5
818,13265,2002,1689,0,2,3,7
303,13704,2001,1541,0,2,3,6
...,...,...,...,...,...,...,...
764,9430,1999,1268,1097,2,3,8
836,9600,1950,1067,0,2,2,4
1217,8930,1978,1318,584,2,4,8
560,3196,2003,1557,0,2,2,7
685,16770,1998,1195,644,2,4,7

In [13]:
X_train.shape

(1168, 7)

In [14]:
X_valid.shape

(292, 7)

In [15]:
# Training machine learning model

In [16]:
from sklearn.tree import DecisionTreeRegressor

In [17]:
dt_model = DecisionTreeRegressor(random_state=1)
dt_model.fit(X_train, y_train)

DecisionTreeRegressor(random_state=1)

In [20]:
y_preds = dt_model.predict(X_valid.head())

pd.DataFrame({
    'y': y_valid.head(),
    'y_preds': y_preds
})

          y   y_preds
Id
530  200624  335000.0
492  133000  140200.0
460  110000  119000.0
280  192000  207500.0
656   88000  112000.0

In [21]:
from sklearn.ensemble import RandomForestRegressor

In [22]:
rf_model = RandomForestRegressor(random_state=1)
rf_model.fit(X_train, y_train)

RandomForestRegressor(random_state=1)

In [23]:
y_preds = rf_model.predict(X_valid.head())

In [31]:
pd.DataFrame({
    'actual values': y_valid.head(),
    'predicted values': y_preds
})

     actual values  predicted values
Id
530         200624          271690.0
492         133000          155039.0
460         110000          122024.0
280         192000          188915.0
656          88000           91147.0

In [26]:
# predict a new one input
X_valid.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
Id,,,,,,,
530,32668,1957,2515,0,3,4,9
492,9490,1941,958,620,1,3,5
460,7015,1950,979,224,1,3,5
280,10005,1977,1156,866,2,4,8
656,1680,1971,525,567,1,3,6

In [29]:
rf_model.predict([
    [6969, 2022, 1000, 800, 4, 5, 8]
])

c:\Home\development\me-selflearn-machinelearning\machinelearningenv\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([206158.4])

In [30]:
# model evaluation (Regression)

rf_model.score(X_valid, y_valid)

0.7842596223072973

In [33]:
# mean absolute error
from sklearn.metrics import mean_absolute_error

y_preds = rf_model.predict(X_valid)

In [39]:
result_df = pd.DataFrame({
    'actual values': y_valid,
    'predicted values': y_preds
})

result_df

      actual values  predicted values
Id
530          200624         271690.00
492          133000         155039.00
460          110000         122024.00
280          192000         188915.00
656           88000          91147.00
...             ...               ...
327          324000         275931.87
441          555000         478954.15
1388         136000         176038.00
1324          82500          78096.00
62           101000          81104.00

[292 rows x 2 columns]

In [40]:
mae = mean_absolute_error(y_valid, y_preds)

In [41]:
mae

# mean absolute error is: 
# SUM of all rows 'difference' column: absolute (actualval - predicted) 
# then divide by all rows (which is mean)
# --> it measure HOW FAR the predicted value to the actual value (by average)

24069.385498858446

In [42]:
result_df['difference'] = np.abs(result_df['actual values'] - result_df['predicted values'])
result_df

      actual values  predicted values  difference
Id
530          200624         271690.00    71066.00
492          133000         155039.00    22039.00
460          110000         122024.00    12024.00
280          192000         188915.00     3085.00
656           88000          91147.00     3147.00
...             ...               ...         ...
327          324000         275931.87    48068.13
441          555000         478954.15    76045.85
1388         136000         176038.00    40038.00
1324          82500          78096.00     4404.00
62           101000          81104.00    19896.00

[292 rows x 3 columns]

In [43]:
# mean squared error

# --> it shows that 
# so which regression evaluation metric should we use ?
#

In [44]:
# imporoving machine learning model based on evaluation scores